[Desktop Entry]
Type=Application
Name=STS4
Comment=Spring Tool Suite
Icon=/opt/sts/sts-4.3.1.RELEASE/icon.xpm
Exec=/opt/sts/sts-4.3.1.RELEASE/SpringToolSuite4
Terminal=false
Categories=Development;IDE;Java;
StartupWMClass=STS